@model Order

@{
	var total = @Model.Lines.Sum(c => c.Quantity * c.Product.Price);
}

<div class="row shadow my-3">
	<div class="col-md-3 border-1 border-dark p-3 bg-light shadow">
		<h5 class="display-5 text-center">
			<i class="fa fa-address-book text-danger"></i>
			<br />
			<strong>@Model?.Name</strong>
		</h5>
		<p class="text-center">@Model?.Line1</p>
		<p class="text-center">@Model?.Line2</p>
		<p class="text-center">@Model?.Line3</p>
		<p class="text-center"><i class="fa-solid fa-location-dot"></i>@Model?.City</p>
		<p class="rounded-2 p-3">
			<span style="display: block" class="bg-warning p-3 text-center">Shipped</span>
			<span style="display: block" class="bg-info my-3 p-3 text-center">@(Model.Shipped? "Completed" : "In Progress")</span>
		</p>
	</div>
	<div class="col-md-9">
		<h6 class="display-6 mt-3 text-center">CART</h6>
		<ul class="list-group">
			@foreach (var catItem in Model?.Lines)
			{
				<li class="list-group-item d-flex justify-content-between brand">
					@catItem.Product.ProductName
					<b>
						@catItem.Quantity * @catItem.Product.Price.ToString("c2")
						=@((catItem.Quantity * catItem.Product.Price).ToString("c2"))
					</b>
				</li>
			}
			<li class="list-group-item d-flex justify-content-between text-danger">
				Total:
				<b>@total.ToString("c2")</b>
			</li>
		</ul>

		<div class="text-center mt-2 p-2">
			<form method="post" asp-action="Complete">
				<input type="hidden" name="id" value="@Model.OrderId" />
				<button type="submit" class="btn btn-primary" disabled="@Model.Shipped">
					Complete
				</button>
			</form>
		</div>
	</div>
</div>